{% extends "base.html" %}
{% block title %}
	Комиксы
{% endblock title %}
{% block content %}
	<h1>Комиксы</h1>
	{% if comics %}
    	{% for i in comics %}
			<ul>
				<li>
					<h2>
						<a href="{% url "master-comic" i.id %}">{{ i.title }}</a>
					</h2>

					<h3>Описание:</h3>
					<p>{{ i.description }}</p>

					<h3>Дата выхода:</h3>
					<p>{{ comic.datetime_created }}</p>
				</li>
			</ul>
		{% endfor %}
		{% include "comics/listcomics_pagination.html" with page=comics %}
	{% else %}
		<p>Избранных комиксов нет</p>
	{% endif %}
{% endblock content %}